<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Dr. <%= doctor.name %></h1>
    <h3><%= doctor.title %></h3>
    <h1>Patients</h1>
    <a href="/doctors/<%= doctor._id %>/patients/new">ADD PATIENT</a>
    <% if(patient.length) { %>
    <table>
      <thead>
        <tr>
          <th>Patient Name:</th>
          <th>Age:</th>
          <th>Sickness:</th>
          <th>Room:</th>
        </tr>
        <% patient.forEach(function(p) { %>
        <tr>
          <td><%= p.name %></td>
          <td><%= p.age %></td>
          <td><%= p.sickness %></td>
          <td><%= p.room %></td>
        </tr>
        <% }) %>
      </thead>
    </table>
    <% } else { %>
    <h3>No Patients</h3>
    <% } %>
  </body>
</html>
