<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("../../partials/header.ejs") %>
    <h1>List Of Patients:</h1>
    <% if(patients.length) { %>
    <div class="tableContainer">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Sickness</th>
            <th>Room</th>
          </tr>
          <% patients.forEach(function(p) { %>
          <tr>
            <td><%= p.name %></td>
            <td><%= p.age %></td>
            <td><%= p.sickness %></td>
            <td><%= p.room %></td>
            <td id="update">
              <a href="/patients/update/<%= p._id %>"
                ><button id="update">View Patient</button></a
              >
            </td>
            <td id="delete">
              <form
                action="/patients/<%= p._id %>/?_method=DELETE"
                method="POST"
              >
                <button type="submit" id="delete">Delete Patient</button>
              </form>
            </td>
          </tr>
          <% }) %>
        </thead>
      </table>
    </div>
    <% } else { %>
    <h3>No Patients</h3>
    <% } %>
  </body>
</html>
