<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("../../partials/header.ejs") %>
    <h1>Update Patient Form</h1>
    <h3>View Patient: <%= patient.name %></h3>
    <form
      action="/patients/update/<%= patient._id %>?_method=PUT"
      method="POST"
    >
      <label>Name: </label>
      <input type="text" name="name" value="<%= patient.name %>" />
      <label>Age: </label>
      <input type="number" name="age" value="<%= patient.age %>" />
      <label>Sickness: </label>
      <input type="text" name="sickness" value="<%= patient.sickness %>" />
      <label>Room: </label>
      <input type="number" name="room" value="<%= patient.room %>" />
      <button type="submit">Save Patient</button>
    </form>
    <form action="/patients/<%= patient._id %>/?_method=DELETE" method="POST">
      <button type="submit">Delete Patient</button>
    </form>
    <h1>Notes:</h1>
    <% if(!patient.notes.length) { %>
    <h3>No notes</h3>
    <% } else { %>
    <table>
      <thead>
        <tr>
          <th>Patient Notes</th>
        </tr>
        <% patient.notes.forEach(function(n) { %>
        <tr>
          <td><%= n.note %></td>
        </tr>
        <% }) %>
      </thead>
    </table>
    <% } %>
    <h2>Add Patient Note</h2>
    <form
      id="add-note-form"
      action="/patients/<%= patient._id %>/notes"
      method="POST"
    >
      <br />
      <label>Note:</label>
      <textarea name="note"></textarea>
      <br />
      <button type="submit">Save Note</button>
    </form>
  </body>
</html>
